* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

html{

    height: 100%;

}

body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black; 
  
  

}

.main {

   text-align: center;
   margin: auto;
   margin-top: 25px;
   width: 75%;
   height: 100%;
   padding: 10px;

   border-radius: 0.5em;

   background: #1a1a1af6;

}

h1 {

   color: white;
   font-size: 2rem;
   
   margin: auto;
   margin-top: 20px;
   margin-bottom: 5px;

}

.title-1 {

    font-size: 16px;
    color: rgba(90, 90, 90, 0.815);
    font-weight: bold;
    margin: auto;
    margin-bottom: 5px;

}

#data-fe {

    font-size: 16px;
    color: rgba(196, 194, 194, 0.815);
    font-weight: bold;
    margin: auto;
    margin-bottom: 30px;

}

.card-1 {

    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 5px;
    row-gap: 20px;

}

.card-1-2 {

    margin: auto;
}


.num-posc {

    width: 115px;
    margin-bottom: 10px;
    

}

.num-posc span {

    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(90, 90, 90);
    padding: 5px;
    font-weight: bold;
    font-size: 14px;

    display: inline-block;
}

.cont-1 {

    background: black;
    width: 115px;
    height: 215px;

    border-radius: 0.5em;
    box-shadow: 0.5px 2px 2px 0.5px rgba(70, 70, 70, 0.397);

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.cont-2 {

    width: 100%;
}

.cont-2:nth-child(1) {
    border-radius: 0.5em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    height: 53%;

    background-color: black;
}

.cont-2:nth-child(2) {
    border-radius: 0.5em;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    
    height: 47%;
   

}

.cir-1 img {

    border-radius: 0.5em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.text-1 {

    color: white;

}

.text-2:nth-child(1) {

  height: 20%;
  font-size: 14px;    
  background-color: rgba(37, 37, 37, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;


}

.text-2:nth-child(2) {

    height: 80%;
    border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
/*
.text-2:nth-child(2) {

  height: 80%;   
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}*/

.circlu {

    width: 65px;
    height: 65px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
}

/* circulo con svg 1 */

.circ-4{

    position: relative;
    background-color: rgba(255, 0, 0, 0.596);
    width: 100%;
    height: 100%;
}

.svg-1 {

  background-color: black;
  width: 100%;
  height: 100%;
  padding-top: 5px;

  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;


}

.svg-1 circle {

    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgba(134, 134, 134, 0.39);
    stroke-width: 4;
    transform: translate(5px, 5px);
    stroke-linecap: round;

}

.svg-1 circle:nth-child(2) {

    stroke: rgb(46, 236, 9);
    stroke-dasharray: 155px;
    stroke-dashoffset: 155px;
}

/*
.cont-1:nth-child(1) .circ-4 .svg-1 circle:nth-child(2) {

    stroke: red;
    stroke-dashoffset: calc(155px - (155px * 70) / 100);
    
}*/

.circ-text-1 {

    position: absolute;
    width: 100%;
    height: 100%;
    
    font-size: 12px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* circulo con svg de prueba */
/*
.circ-3 {

    position: relative;

    background-color: white;
    width: 110px;
    height: 110px;


}

.svg-2 {

  background-color: blue;
  width: 110px;
  height: 110px;

}

.svg-2 circle {

    width: 100%;
    height: 100%;
    fill: none;
    stroke: beige;
    stroke-width: 4;
    transform: translate(5px, 5px);
    stroke-linecap: round;


}

.svg-2 circle:nth-child(2) {

    stroke: rgb(46, 236, 9);
    stroke-dasharray: 170px;
    stroke-dashoffset: 170px;
    
}


.circ-3:nth-child(1) svg circle:nth-child(2) {

    stroke-dashoffset: calc(170px - (170px * 85) / 100);
    
}

.circ-text {

    position: absolute;
    width: 100%;
    height: 100%;
    
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

*/

/* apartado de los favoritos*/

#fav {

    padding-bottom: 10px;
}

.fav-txt {

    width: 75%;

    color: white;
    margin: auto;
    margin-top: 30px;
    padding-left: 5px;

    font-size: 14px;
    font-weight: bold;

}

.favoritos {


    width: 75%;
    height: 200px;

    border-radius: 0.5em;

    background: #1a1a1af6;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 5px;

    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

}

.fav-1 {

    width: 18%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 0.5em;


}


.fav-1 img {

    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    object-fit: cover;

}






